.window {
    width: 33%;
    min-width: 250px;
    margin: 30vh auto;
    border: 1px solid lightgray;
}

.logo {
    background-color: black;
    img {
        margin: 10px 10px 2px 10px;
    }
}

input {
    display: block;
    width: 75%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

form {
    text-align: center;
    button {
    width: 76.5%;
    margin-bottom: 10px;
    }
}

// project site

#side-menu {
    height: 100vh;
    border-right: 1.5px solid lightgray;
}

#side-menu, #map {
    padding: 0;
}

#menu {
    padding: 0 15px;
    .menu-item {
        padding: 5px 0;
    }
}

iframe {
    width: 100%;
    height: 99vh;
}

.items div {
    margin-left: 10px;
}

.divider {
    height: 1.5px;
    background-color: lightgray;
}

ul p {
    font-weight: bold;
    margin-bottom: 5px;
}

// change div on menu click

.items div, .items iframe { display: none; }
.items div:target ~ #main, .items iframe:target ~ #main { display: none; }
.items div:target, .items iframe:target { display: block; }

